/* You can add global styles to this file, and also import other style files */


p {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
    font-size: 20px;
}
