<div class="card">
    <h5 class="card-header"><b>Details of {{employee.name}}</b></h5>
    <div class="card-body">

        <table class="table">
            <tbody>
                <tr>
                    <th>Employee Id</th>
                    <td>{{employee.id}}</td>
                </tr>
                <tr>
                    <th>Employee Name</th>
                    <td>{{employee.name}}</td>
                </tr>
                <tr>
                    <th>Employee Email</th>
                    <td>{{employee.email}}</td>
                </tr>
                <tr>
                    <th>Employee Salary</th>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <h5 class="card-footer">
        <button type="button" (click)="goBack()" class="btn btn-secondary">Go Back</button> |
        <a [routerLink]="['/employee-update', employee.id]" class="btn btn-secondary">Update</a> |
        <button (click)="deleteEmployee()" class="btn btn-secondary">Delete</button>
    </h5>
</div>