<h2>Add New Employee</h2>

<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="employee.name" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="employee.email" />
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input type="text" class="form-control" name="salary" id="salary" [(ngModel)]="employee.salary" />
    </div>

    <button type="submit" class="btn btn-secondary" (click)="addEmployee()">Add Employee</button> |
    <button type="button" class="btn btn-secondary" (click)="resetAll()">Reset</button>
</form>